.signup_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid var(--Grey-2, #BDBDBD);
    width: fit-content;
    margin: 20vh 29vw;
    padding: 6vh 1.5vw 5vh 1.5vw;
    box-shadow: 12px 12px 20px 0px rgba(0, 0, 0, 0.03);

}

.signup_page h1 {
    text-align: center;
    font-weight: 600;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    letter-spacing: -0.32px;
    color: #00191D;
    margin: 1vh 2vw
}

.descrip {
    color: var(--Secondry-Text-color, #699191);
    font-family: "DM Sans";
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.04px;
    margin: 2vh 2vw
}

.email_field {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 31vw;
    margin: 0vh 2vw;
}

.email_field p {
    color: var(--Grey-1, #717171);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    margin: 1vh 0vw;
}

.email_field button {
    margin: 4.5vh 0vw;
    display: flex;
    padding: 1vh 2vw;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--G-2, linear-gradient(102deg, #369D9C 0%, #28814D 100%));
    color: #FFFFFF;
    font-size: 1.1rem;
}