.signup_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid rgba(217, 217, 217, 0.4);
  padding: 2rem;
  background: #fff;
  box-shadow: 0px 50px 50px -38px rgba(89, 132, 131, 0.65);
  /* background: red; */
  /* box-shadow: 12px 12px 20px 0px rgba(0, 0, 0, 0.03); */
  width: 32vw;
  position: relative;
}

.brand_logo {
  width: 4rem;
  margin-bottom: 20px;
}
.signup_page h1 {
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
  color: #00191d;
  margin: 0 2vw;
  margin-bottom: 20px;
}

.descrip {
  color: #699191;
  font-family: "DM Sans";
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04px;
  margin: 2vh 2vw;
}

.email_field {
  margin: 0vh 2vw;
  width: 100%;
}

.email_field p {
  color: #717171;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 1vh 0vw;
}

.signup_page h6 {
  color: #717171;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 3px;
}
.signup_page span {
  color: #3cb477;
  font-size: 1rem;
  cursor: pointer;
}
.green_button {
  margin-top: 2rem;
  padding: 1.8vh 2vw;
  border-radius: 100px;
  background: linear-gradient(102deg, #369d9c 0%, #28814d 100%);
  color: #ffffff;
  font-size: 1rem;
  border: none;
  width: 100%;
}
