.details {
  width: 32vw;
}

.details p {
  color: #717171;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
}

.select_fields {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.count_input p {
  margin-bottom: 8px;
}
