.goals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 10vh 0vw; */
    border-radius: 10px;
    padding: 5vh 3vw;
    width: 40vw;
}

.goals p {
    color: var(--Grey-1, #717171);
    font-size: 0.9rem;
    font-weight: 400;
    margin: 2vh 0.5vw 0vh 0.5vw;
}

.goals svg{
    cursor: pointer;
}

.para_select_det {
    display: flex;
    flex-direction: column;
}

.para_rad {
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--Grey-2, #BDBDBD);
    background: #FFF;
}

.para_rad h1 {
    color: var(--Dark, #00191D);
    font-size: 0.9rem;
    font-weight: 400;
    padding: 1.5vh 1vw 1.5vh 0vw;
    text-align: center;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0.5vw;
    width: 30vw;

}

.goals button {
    margin: 4.5vh 0vw;
    display: flex;
    padding: 1vh 2vw;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--G-2, linear-gradient(102deg, #369D9C 0%, #28814D 100%));
    color: #FFFFFF;
    font-size: 1.1rem;
}