.goals {
  width: 32vw;
}

.goals p {
  color: #717171;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.goals svg {
  cursor: pointer;
}

.para_select_det {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.radio_button_goals {
  display: flex;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  background: #fff;
  max-width: 100%;
  padding-right: 15px;
  cursor: pointer;
}
.radio_button_goals svg {
  margin: 0 !important;
  padding: 0 !important;
}
.radio_button_goals h1 {
  color: #00191d;
  font-size: 0.9rem;
  margin-top: 12px;
  font-weight: 400;
  margin-bottom: 0;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3vh 0;
  /* width: 30vw; */
}

.goals button {
  margin-top: 10vh;
  padding: 1.8vh 0;
  border-radius: 100px;
  background: linear-gradient(102deg, #369d9c 0%, #28814d 100%);
  color: #ffffff;
  width: 100%;
  border: none;
  font-size: 0.9rem;
}
