.goals {
  width: 32vw;
}

.goals p {
  color: #717171;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.goals svg {
  cursor: pointer;
}

.para_select_det {
  display: flex;
  flex-direction: column;
}

.para_rad {
  display: flex;
  border-radius: 5px;
  border: 1px solid var(--Grey-2, #bdbdbd);
  background: #fff;
}

.para_rad h1 {
  color: var(--Dark, #00191d);
  font-size: 0.9rem;
  font-weight: 400;
  padding: 1.5vh 1vw 1.5vh 0vw;
  text-align: center;
}

.options {
  background: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3vh 0;
  /* width: 30vw; */
}

.goals button {
  margin: 4.5vh 0vw;
  display: flex;
  padding: 1vh 2vw;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--G-2, linear-gradient(102deg, #369d9c 0%, #28814d 100%));
  color: #ffffff;
  font-size: 1.1rem;
}
