.organzation {
  width: 32vw;
}
.ge3s_logo1 {
  width: 3rem;
}

.organzation p {
  color: var(--Grey-1, #717171);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0.5rem 0;
}

.comp_name {
  margin-bottom: 10px;
}

/* .organzation button {
  padding: 1.8vh;
  width: 100%;
  border: none;
  border-radius: 100px;
  background: var(--G-2, linear-gradient(102deg, #369d9c 0%, #28814d 100%));
  color: #ffffff;
  font-size: 0.9rem;
  margin-top: 20px;
} */

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  margin: 0 0 2vh 0;
}

.heading h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #00191d;
  margin-left: 20px;
  /* text-align: center; */
}

.select_emp_cou {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  /* background: red; */
}

.para_select {
  display: flex;
  flex-direction: column;
  width: 16vw;

  /* background: greenyellow; */
}
.para_select p {
  font-size: 0.9rem;
}
.para_select svg {
  margin-left: 5px;
  width: 1rem;
  cursor: pointer;
  /* background: red; */
}
