.charts-container h2 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 14px;
  }
  
  .sustainability-section_heading {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 22px;
    margin-bottom: 20px;
  }
  

  .sustainability-heading_title {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  