.change-password-container {
  position: relative;
  margin: 15vh auto;
  border-radius: 20px;
  border: 1px solid rgba(217, 217, 217, 0.4);
  background: #fff;
  box-shadow: 6px 89px 56px -38px rgba(89, 132, 131, 0.65);
  width: 34vw;
  padding: 48px;
  gap: 8px;
}

.change-password-container p {
  color: #717171;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 32px;
}
.text-align {
  text-align: center;
}

.change-password-container h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #00191d;
  text-align: center;
}

.error-message {
  color: red !important;
  font-size: 12px;
  margin-top: 10px;
}

.change-password-container button {
  margin-top: 24px;
  padding: 8px !important;
  width: 100%;
  border-radius: 100px;
  background: linear-gradient(102deg, #369d9c 0%, #28814d 100%);

}

.ge3s_logo {
  width: 28%;
  margin: 0 auto;
}

.change-password-container .password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.change-password-container .toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.change-password-button-active {
  background: linear-gradient(102deg, #369d9c 0%, #28814d 100%);
  color: #ffffff;
  border: none;
  padding: 12px !important;
}

.change-password-button-disabled {
  background: linear-gradient(102deg, #e7e7e7 0%, #e7e7e7 100%) !important;
  color: #838383;
  cursor: not-allowed;
  border: none;
  padding: 12px !important;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #3cb477;
}

.toggle-password svg {
  width: 20px;
  height: 20px;
}

@media (max-width: 1024px) {
  .change-password-container {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .change-password-container {
    width: 50vw;
  }
}

@media (max-width: 480px) {
  .change-password-container {
    width: 84vw;
    padding: 24px;
  }

  .ge3s_logo {
    width: 35%;
  }
}
