.login-container {
  position: relative;
  margin: 15vh auto;
  border-radius: 20px;
  border: 1px solid rgba(217, 217, 217, 0.4);
  background: #fff;
  box-shadow: 6px 89px 56px -38px rgba(89, 132, 131, 0.65);
  width: 36vw;
  padding: 48px;
  gap: 8px;
}

.error-message {
  color: #f44336;
  font-size: 0.75rem;
  margin-top: 3px;
  text-align: left;
  font-weight: 400;
}

.login-container p {
  color: #717171;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 1vh 0vw;
}

.login-container h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #00191d;
  text-align: center;
}
.login-inputs{
  margin-top: 48px;
}
.login-container button {
  margin: 2vh 0vw;
  padding: 8px !important;
  width: 100%;
  border-radius: 100px;
  background: linear-gradient(102deg, #369d9c 0%, #28814d 100%);
}

.ge3s_logo {
  display: flex;
}

.login-container .password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.login-container .toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.login-button-active {
  background: linear-gradient(102deg, #369d9c 0%, #28814d 100%);
  color: #ffffff;
  border: 2px solid transparent;
}

.login-button-disabled {
  background: linear-gradient(102deg, #e7e7e7 0%, #e7e7e7 100%) !important;
  color: #838383;
  cursor: not-allowed;
  border: 2px solid transparent;
}

.login-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.forgot-password,
.signup span {
  color: #3cb477 !important;
  cursor: pointer;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .login-container {
    width: 50vw;
  }
}

@media (max-width: 768px) {
  .login-container {
    width: 50vw;
  }
}

@media (max-width: 480px) {
  .login-container {
    width: 84vw;
    padding: 24px;
  }

  .login-container div h1 {
    font-size: 1.4rem;
  }

  .ge3s_logo {
    width: 35%;
  }

  .login-container div button {
    font-size: 1rem;
  }
}
