.login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15vh 30vw;
  border-radius: 10px;
  border: 1px solid var(--Grey-2, #bdbdbd);
  box-shadow: 12px 12px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 3vh 2.5vw;
  width: 42vw;
}

.login p {
  color: var(--Grey-1, #717171);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 1vh 0vw;
}

.login h1 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #00191d;
  text-align: center;
}

.login button {
  margin: 2vh 0vw;
  display: flex;
  padding: 1vh 2vw;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--G-2, linear-gradient(102deg, #369d9c 0%, #28814d 100%));
  color: #ffffff;
  font-size: 1.1rem;
}

.input_login {
  margin: 2vh 0vw;
}

.ge3s_logo {
  width: 22%;
  margin: 2vh auto;
}
