@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: red; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
}
button {
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

button:active {
  transform: translateY(2px);
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e6ebff;
  border-radius: 50px;
}

/* Remove the scrollbar on number type input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.ge3s_button {
  margin-top: 4vh;
  padding: 1.5vh 0;
  border-radius: 100px;
  background: linear-gradient(102deg, #369d9c 0%, #28814d 100%);
  color: #ffffff;
  font-size: 0.9rem;
  border: none;
  width: 100%;
  font-weight: 500;
}

.ge3s_button:disabled {
  margin-top: 4vh;
  padding: 1.5vh 0;
  border-radius: 100px;
  background: #e7e7e7;
  color: #838383;
  font-size: 0.9rem;
  border: none;
  width: 100%;
  font-weight: 500;
}
