.createacc {
  border-radius: 20px;
  border: 1px solid rgba(217, 217, 217, 0.4);
  padding: 2rem;
  box-shadow: 12px 12px 20px 0px rgba(0, 0, 0, 0.03);
  width: 32vw;
  background: #fff;
  box-shadow: 0px 50px 50px -38px rgba(89, 132, 131, 0.65);
}

.createacc h1 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #00191d;
  margin-bottom: 30px;
}

.createacc p {
  color: #717171;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 1vh 0vw;
}

.input {
  margin-bottom: 3.5vh;
}

.colored {
  color: #3cb477;
}
.radio_field span {
  padding-left: 0 !important;
  font-size: 0.9rem;
}
