.createacc {
  border-radius: 20px;
  border: 1px solid rgba(217, 217, 217, 0.4);
  padding: 2rem;
  box-shadow: 12px 12px 20px 0px rgba(0, 0, 0, 0.03);
  width: 32vw;
  background: #fff;
}

.createacc h1 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #00191d;
  margin-bottom: 30px;
}

.createacc p {
  color: #717171;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 1vh 0vw;
}

.createacc button {
  margin: 4vh 0vw;
  padding: 1.8vh 0;
  border-radius: 100px;
  background: var(--G-2, linear-gradient(102deg, #369d9c 0%, #28814d 100%));
  color: #ffffff;
  font-size: 1rem;
  border: none;
  width: 100%;
  font-weight: 500;
}

.createacc span {
  font-size: 0.9rem;
}

.input {
  margin-bottom: 3.5vh;
}

.colored {
  color: #3cb477;
}
.radio_field span {
  /* margin-top: 0 !important; */
  padding-left: 0 !important;
}
